body {
  background-image: url('../img/qbkls.png');
  font-family: 'Sunflower', sans-serif;
}

#header {
  background-image: url('../img/what-the-hex-dark.png');
  text-align: center;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

#mainbox {
  background: white;
  padding: 20px;
}

#resultArea {
  background-image: url('../img/what-the-hex-dark.png');
  color: white;
  padding: 0px;
}

#result {
  display:none;
  padding: 20px;
  border: 3px solid red;
}

.name {
  color: red;
  font-weight: 800;
}

.radio {
  display: inline-block;
  margin-right: 10px;
}

.form-name {
  display: none;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.topBox {
  display: inline-block;
  width: 49.5%;
}

#robot1 {
    position: fixed;
    top: 50%;
    left: 2%;
}
#robot2 {
    position: fixed;
    top: 50%;
    right: 2%;
}

.robot1 {
  x-transition: all 1s ease-in-out;
  animation: ani 1.7s infinite;
}

@keyframes ani {
  0% {
    top: 50%;
  }
  50% {
    top: 55%;
  }
  100% {
    top: 50%;
  }
}

.robot2 {
  x-transition: all 1s ease-in-out;
  animation: bni 1.7s infinite;
}

@keyframes bni {
  0% {
    top: 50%;
  }
  50% {
    top: 70%;
  }
  100% {
    top: 50%;
  }
}
