body {
  background-image: url('../img/qbkls.png');
  font-family: 'VT323', monospace;
}

#header {
  background-color:#f16139;
  border: 3px dashed #e53725;
  border-bottom: 0px;
  text-align: center;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

#mainbox {
  background: white;
  padding: 20px;
  border: 2px dashed #edc74d;
}

#resultArea {
  /* background-image: url('../img/what-the-hex-dark.png'); */
  color: black;
  padding: 0px;
  border: 3px dashed #e53725;
  border-top: 0px;
  display:none;
  background-color: rgba(228, 56, 38, 0.1);
}

#result {
  padding: 20px;
  width:90%;
  max-width: 550px;
  margin: 0 auto;
}

.name {
  color: #e53725;
  font-weight: 800;
}

.radio {
  display: inline-block;
  margin-right: 10px;
}

.form-name {
  display: none;
  margin-top: 20px;
}

.btn-ryan {
    background-color: #a77bbf;
    color: white;
    border-color: #9365ab;
}

.btn-ryan:hover {
    background-color: #9365ab;
    color: white;
    border-color: #8458a0;
}

.form-group {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.topBox {
  display: inline-block;
  width: 49.5%;
}

#robot1 {
    position: fixed;
    top: 50%;
    left: 2%;
}
#robot2 {
    position: fixed;
    top: 50%;
    right: 2%;
}

.robot1 {
  x-transition: all 1s ease-in-out;
  animation: ani 1.7s infinite;
}

@keyframes ani {
  0% {
    top: 50%;
  }
  50% {
    top: 53%;
  }
  100% {
    top: 50%;
  }
}

@media (max-width: 930px) {
  .robot1 {
    display:none;
  }
}
